CollegeDekhoClient/Connected Services/CollegeReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="CollegeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CollegeDekhoService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICollegeService_GetAllColleges_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllColleges" />
  </wsdl:message>
  <wsdl:message name="ICollegeService_GetAllColleges_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCollegesResponse" />
  </wsdl:message>
  <wsdl:message name="ICollegeService_GetCollegeById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCollegeById" />
  </wsdl:message>
  <wsdl:message name="ICollegeService_GetCollegeById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCollegeByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICollegeService_GetCollegeByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCollegeByName" />
  </wsdl:message>
  <wsdl:message name="ICollegeService_GetCollegeByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCollegeByNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICollegeService_GetCollegeByPlace_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCollegeByPlace" />
  </wsdl:message>
  <wsdl:message name="ICollegeService_GetCollegeByPlace_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCollegeByPlaceResponse" />
  </wsdl:message>
  <wsdl:message name="ICollegeService_listOfAllCollege_InputMessage">
    <wsdl:part name="parameters" element="tns:listOfAllCollege" />
  </wsdl:message>
  <wsdl:message name="ICollegeService_listOfAllCollege_OutputMessage">
    <wsdl:part name="parameters" element="tns:listOfAllCollegeResponse" />
  </wsdl:message>
  <wsdl:message name="ICollegeService_saveCollege_InputMessage">
    <wsdl:part name="parameters" element="tns:saveCollege" />
  </wsdl:message>
  <wsdl:message name="ICollegeService_saveCollege_OutputMessage">
    <wsdl:part name="parameters" element="tns:saveCollegeResponse" />
  </wsdl:message>
  <wsdl:message name="ICollegeService_DeleteCollegeById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCollegeById" />
  </wsdl:message>
  <wsdl:message name="ICollegeService_DeleteCollegeById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCollegeByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICollegeService_UpdateCollegeById_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCollegeById" />
  </wsdl:message>
  <wsdl:message name="ICollegeService_UpdateCollegeById_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCollegeByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="ICollegeService">
    <wsdl:operation name="GetAllColleges">
      <wsdl:input wsaw:Action="http://tempuri.org/ICollegeService/GetAllColleges" message="tns:ICollegeService_GetAllColleges_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICollegeService/GetAllCollegesResponse" message="tns:ICollegeService_GetAllColleges_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCollegeById">
      <wsdl:input wsaw:Action="http://tempuri.org/ICollegeService/GetCollegeById" message="tns:ICollegeService_GetCollegeById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICollegeService/GetCollegeByIdResponse" message="tns:ICollegeService_GetCollegeById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCollegeByName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICollegeService/GetCollegeByName" message="tns:ICollegeService_GetCollegeByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICollegeService/GetCollegeByNameResponse" message="tns:ICollegeService_GetCollegeByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCollegeByPlace">
      <wsdl:input wsaw:Action="http://tempuri.org/ICollegeService/GetCollegeByPlace" message="tns:ICollegeService_GetCollegeByPlace_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICollegeService/GetCollegeByPlaceResponse" message="tns:ICollegeService_GetCollegeByPlace_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listOfAllCollege">
      <wsdl:input wsaw:Action="http://tempuri.org/ICollegeService/listOfAllCollege" message="tns:ICollegeService_listOfAllCollege_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICollegeService/listOfAllCollegeResponse" message="tns:ICollegeService_listOfAllCollege_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="saveCollege">
      <wsdl:input wsaw:Action="http://tempuri.org/ICollegeService/saveCollege" message="tns:ICollegeService_saveCollege_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICollegeService/saveCollegeResponse" message="tns:ICollegeService_saveCollege_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCollegeById">
      <wsdl:input wsaw:Action="http://tempuri.org/ICollegeService/DeleteCollegeById" message="tns:ICollegeService_DeleteCollegeById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICollegeService/DeleteCollegeByIdResponse" message="tns:ICollegeService_DeleteCollegeById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCollegeById">
      <wsdl:input wsaw:Action="http://tempuri.org/ICollegeService/UpdateCollegeById" message="tns:ICollegeService_UpdateCollegeById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICollegeService/UpdateCollegeByIdResponse" message="tns:ICollegeService_UpdateCollegeById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICollegeService" type="tns:ICollegeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllColleges">
      <soap:operation soapAction="http://tempuri.org/ICollegeService/GetAllColleges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCollegeById">
      <soap:operation soapAction="http://tempuri.org/ICollegeService/GetCollegeById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCollegeByName">
      <soap:operation soapAction="http://tempuri.org/ICollegeService/GetCollegeByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCollegeByPlace">
      <soap:operation soapAction="http://tempuri.org/ICollegeService/GetCollegeByPlace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listOfAllCollege">
      <soap:operation soapAction="http://tempuri.org/ICollegeService/listOfAllCollege" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveCollege">
      <soap:operation soapAction="http://tempuri.org/ICollegeService/saveCollege" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCollegeById">
      <soap:operation soapAction="http://tempuri.org/ICollegeService/DeleteCollegeById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCollegeById">
      <soap:operation soapAction="http://tempuri.org/ICollegeService/UpdateCollegeById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CollegeService">
    <wsdl:port name="BasicHttpBinding_ICollegeService" binding="tns:BasicHttpBinding_ICollegeService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/CollegeDekhoService/CollegeService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>