CollegeDekhoMiddleware/Connected Services/CollegeServiceReference/CollegeDekhoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CollegeDekhoService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CollegeDekhoService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="College">
    <xs:sequence>
      <xs:element minOccurs="0" name="CampusSize" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Canteen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Established" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Gyn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Library" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NAAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NIRF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Place" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sports" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="University" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Website" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="College" nillable="true" type="tns:College" />
</xs:schema>